body{
  /* background: #1D3752;  */
  background-image:url(/images/background1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: #F7F6EE;
}

.header{
  font-size: 100px;
}