body{
  background: #1D3752; 
  color: #F7F6EE;
}
/* ?header style */
.header{
  margin: 50px;
  border-bottom: 10px solid white;
  border-top: 10px solid white;
  border-radius: 50px 50px 50px 50px;
  transition: 3s ;
} 

.title{
  font-size: 80px;
}
/* ?header style */

/* ? Tasktaker */
.tasktaker{
  width: 500px;
}
/* ? Tasktaker */
